@{
    ViewData["Title"] = "Proyecto Sistemas Distribuidos";
}

<div class="card mt-2 m-auto" style="max-width: 767px">
    <div class="card-header p-2">
        <h1 class="fs-3 mb-0 text-center">Verificar Integridad</h1>
    </div>
    <div>
        <form asp-action="IntegridadProxy" asp-controller="firma" method="post">
            <div class="container">
                <div class="row p-3">
                    <div class="col-12 mb-3 row">
                        <div class="col-2">
                            <label class="form-label fw-bold fs-6 mb-1">Mensaje</label>
                        </div>
                        <div class="col-10">
                            <input required placeholder="Introduce el mensaje" type="text" class="form-control form-control-sm" id="Mensaje" name="Mensaje" />
                        </div>
                    </div>
                    <div class="col-12 mb-3 row">
                        <div class="col-2">
                            <label class="form-label fw-bold fs-6 mb-1">Hash</label>
                        </div>
                        <div class="col-10">
                            <input required placeholder="Introduce el Hash Encriptado" type="text" class="form-control form-control-sm" id="HashEncriptado" name="HashEncriptado" />
                        </div>
                    </div>
                    <div class="col-12 mb-3 row">
                        <div class="col-2">
                            <label class="form-label fw-bold fs-6 mb-1">Clave</label>
                        </div>
                        <div class="col-10">
                            <input required placeholder="Introduce la clave de la firma" type="text" class="form-control form-control-sm" id="Clave" name="Clave" />
                        </div>
                    </div>
                    <div class="col-12 row">
                        <div class="col-2">
                        </div>
                        <div class="col-10">
                            <button type="submit" style="background-color: #244a76" class="border-0 w-100 btn btn-primary btn-sm">Verificar</button>
                        </div>
                    </div>
                    @if (Context.Request.Query["message"].Count() > 0)
                    {
                        <div class="col-12">
                            <div class="alert alert-secondary text-center alert-dismissible fade show p-3 mt-3" role="alert">
                                <p class="fs-6 m-0 fw-bold">Firma y mensaje @Context.Request.Query["integro"]</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

<a class="btn-sm btn-secondary border-0 text-center text-decoration-none d-block m-auto mt-4 d-flex align-items-center justify-content-center" style="max-width: 100px" asp-action="Index" asp-controller="">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
    </svg>
    <span class="m-1 d-block">
        Volver
    </span>
</a>